# Logs
logs
*.log

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
*.egg-info/
*.egg
*.pytest_cache/

# Docker
docker-compose.override.yml
*.env

# Editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
